@media screen and (min-width: 821px){
    
    .flipbook-viewport{
        overflow:hidden;
        width:100%;
        height:100%;
    }
    
    .flipbook-viewport .container{
        position:absolute;
        top:50%;
        left:50%;
        margin:auto;
    }
    
    .flipbook-viewport .flipbook{
        width:1250px;
        height:382px;
        left:-625px;
        top:-60px;
    }
    
    .flipbook-viewport .page{
        width:625px;
        height:382px;
        background-color:white;
        background-repeat:no-repeat;
        background-size:100% 100%;
    }

    .flipbook-viewport .double{
        width:1250px;
        height:382px;
        background-size:100% 100%;
    }

    .cover_1{
        background-image: url(../images/Mimuroto_zi.jpg);
    }

    .cover_2{
        background-image: url(../images/Mimuroto_zi_2.jpg);
    }

    #book.grab{
        cursor: -moz-grab;
        cursor: -webkit-grab;
        cursor: grab;
    }
    
    #book.grabbing{
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
    
    #book.notgrab{
        cursor: auto;
    }

    #description, #description_ch{
        color: purple;
        z-index: 1;
        text-align: center;
        font-weight: 500;
        margin-top: 0;
        padding: 0;
        font-family: "calibri";
    }

    .content_1{
        margin-top: 0px;
        background-image: url(../images/hydrangeas_01.jpg);
    }

    .content_2{
        background-image: url(../images/hydrangeas_02.jpg);
    }

    .content_3{
        background-image: url(../images/hydrangeas_03.jpg);
    }

    .content_4{
        background-image: url(../images/hydrangeas_04.jpg);
    }

    .content_5{
        background-image: url(../images/hydrangeas_07.jpg);
    }

    .content_6{
        background-image: url(../images/hydrangeas_08.jpg);
    }

    .content_7{
        background-image: url(../images/hydrangeas_06.jpg);
    }

    .whisper{
        position: relative; 
        display: inline-block;
        font-family: "ZCOOL KuaiLe", "Kalam", "calibri";
        font-size: 24px;
        line-height: 44px;
    }
    .type_1{
        margin-top: 160px;
        margin-left: 60px;
    }
    .type_2{
        margin-top: 240px;
        margin-left: 320px;
    }
    .type_3{
        margin-top: 100px;
        margin-left: 640px;
    }
    .type_4{
        margin-top: 150px;
        margin-left: 100px;
    }
    .type_5{
        margin-top: 150px;
        margin-left: 820px;
    }
    .type_6{
        margin-top: 10px;
        margin-left: 860px;
    }
    .type_7{
        margin-top: 125px;
        margin-left: 825px;
    }
    .type_8{
        font-size: 28px;
        color: white;
        margin-top: 340px;
        margin-left: 1060px;
    }

    #flipbook_mobile{
        display: none;
    }

    .mobile_container{
        display: none;
    }

    #description_m{
        display: none;
    }

    #description_ch_m{
        display: none;
    }
}

@media screen and (max-width:820.9px){
    .flipbook-viewport{
        display: none;
    }
    .flipbook-viewport .container{
        display: none;
    }
    .flipbook-viewport .flipbook {
        display: none;
    }
    .flipbook-viewport .double {
        display: none;
    }
    .flipbook.page{
        display: none;
    }
    #description_m, #description_ch_m{
        color: purple;
        z-index: 1;
        text-align: center;
        font-weight: 500;
        margin-top: 0;
        padding: 0;
        font-family: "calibri";
    }
    #description{
        display: none;
    }
    #description_ch{
        display: none;
    }
    .content_8{
        background-image: url(../images/Mimuroto_zi_4.jpg);
    }
    .content_9{
        background-image: url(../images/hydrangeas_09.jpg);
    }
    .content_10{
        background-image: url(../images/hydrangeas_10.jpg);
    }
    .content_11{
        background-image: url(../images/hydrangeas_11.jpg);
    }
    .content_12{
        background-image: url(../images/hydrangeas_12.jpg);
    }
    .content_13{
        background-image: url(../images/hydrangeas_13.jpg);
    }
    .content_14{
        background-image: url(../images/hydrangeas_14.jpg);
    }
    .content_15{
        background-image: url(../images/hydrangeas_15.jpg);
    }
    .content_16{
        background-image: url(../images/hydrangeas_16.jpg);
    }
    .whisper{
        position: relative; 
        display: inline-block;
        font-family: "ZCOOL KuaiLe", "Kalam", "calibri";
        font-size: 16px;
        line-height: 32px;
    }
    .type_9{
        margin-top: 320px;
        margin-left: 60px;
    }
    .type_10{
        margin-top: 350px;
        margin-left: 180px;
    }
    .type_11{
        margin-top: 335px;
        margin-left: 50px;
        font-size: 14px;
    }
    .type_12{
        margin-top: 100px;
        margin-left: 20px;
        text-align: center;
    }
    .type_13{
        margin-top: 20px;
        margin-left: 120px;
        color: white;
        text-align: right;
        opacity: 80%;
    }
    .type_14{
        margin-top: 20px;
        margin-left: 80px;
        text-align: center;
    }
    .type_15{
        margin-top: 360px;
        margin-left: 20px;
    }
}
