body {
    margin: 0;
    padding: 0; 
}

header span{
    display: block;
    background: no-repeat center/100% url("/images/hydrangeas_05.JPG");
    height: 200px;
}

#header_text_1{
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    color: white;
}

h1{
    text-align: center;    
}

.navigator_lan{
    text-align: right;
    margin-right: 20px;
}

.navigator_lan ul li{
    display: inline;
}

.navigator_lan ul li a{
    color: #51524A;
    font-size: 16px;
}

.navigator{
    text-align: left;
    background-color: rgb(160, 90, 160);
    line-height: 50px;
}

.navigator ul li{
    margin-left: 10px;
    display: inline;
}

.navigator ul li a{
    font-size: 24px;
    color: white;
}

.navigator ul li a:hover{
    font-size: 24px;
    color: gold;
}

.slide_pic{
    width: 550px;
    height: 330px;
    object-fit: cover;
    vertical-align: middle;
    transition: 0.5s;
}

.slide_pic:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.slide__item{
    text-align: center;
    display: none;
    position: relative;
    overflow: hidden;
}

.slideshow {
    margin-top: 45px;
    position: relative;
    transition: 2s;
    user-select: none;
    text-align: center;
}

.slide__pagenumber {
    margin: 5px;
    padding: 5px;
    border-radius: 70% 70% / 80% 70%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    right: 33.5%;
    z-index: 1;
}

.slide__content {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    bottom: 5%;
    left: 34%;
    padding: 0 10px;
    border-radius: 5px;
}

.slide__arraw {
    padding: 20px;
    position: absolute;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    color:  rgb(148, 53, 148);
}

.slide__arraw:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.6 ease;
}
.slide__arraw--prev {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translateY(-50%);
    z-index: 1;
}
.slide__arraw--next {
    position: absolute;
    right: 28%;
    top: 50%;
    transform: translateY(-50%);
}

.slide__dot {
    padding: 5px 5px;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
}

.active,
.dot:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.fades {
  animation: 1.5s fades;
}
@keyframes fades {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}