@media screen and (min-width: 821px){

    body {
        margin: 0;
        padding: 0; 
    }
    
    header span{
        display: block;
        background: no-repeat center/100% url("../index_pic.JPG");
        height: 200px;
    }
    
    #header_text_1{
        text-align: center;
        line-height: 200px;
        font-size: 50px;
        font-family: "ZCOOL KuaiLe", "calibri";
        color: white;
    }
    
    #header_text_2{
        text-align: center;
        line-height: 200px;
        font-size: 50px;
        font-family: "Kalam", "calibri";
        color: white;
    }
    
    
    h1{
        text-align: center;    
    }
    
    .navigator_lan{
        text-align: right;
        margin-right: 20px;
        font-family: "calibri";
    }
    
    .navigator_lan ul {
        margin: 0;
        padding: 0;
    }
    
    .navigator_lan ul li{
        display: inline;
    }
    
    .navigator_lan ul li a{
        margin-top: 0;
        color: #51524A;
        font-size: 16px;
    }
    
    .navigator{
        text-align: left;
        background-color: rgb(160, 90, 160);
        line-height: 50px;
        font-family: "calibri";
        margin: 0;
    }
    
    .navigator ul{
        margin: 0 0 0 5%;
        padding: 0;
    }
    
    .navigator ul li{
        margin: 1%;
        display: inline;
    }
    
    .navigator ul li a{
        font-size: 20px;
        color: white;
    }
    
    .navigator ul li a:hover{
        font-size: 24px;
        color: gold;
    }
    
    .content{
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    .slide_pic{
        width: 80%;
        height: 40%;
        object-fit: cover;
        vertical-align: middle;
        transition: 0.5s;
    }
    
    .slide_pic:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    .slideshow {
        margin-top: 3%;
        margin-left: 5%;
        width: 45%;
        height: 100%;
        position: relative;
        transition: 2s;
        user-select: none;
        text-align: left;
    }
    
    .slide__item{
        text-align: center;
        display: none;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    
    .slide__pagenumber {
        padding: 5px;
        margin: 2%;
        left: 78%;
        border-radius: 70% 70% / 80% 70%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        position: absolute;
        z-index: 1;
    }
    
    .slide__arraw {
        padding: 20px;
        position: absolute;
        line-height: 20px;
        font-size: 20px;
        text-decoration: none;
        color:  rgb(148, 53, 148);
    }
    
    .slide__arraw:hover {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: 0.6 ease;
    }
    .slide__arraw--prev {
        position: absolute;
        top: 45%;
        left: 0%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .slide__arraw--next {
        position: absolute;
        left: 93%;
        top: 45%;
        transform: translateY(-50%);
        z-index: 1;
    }
    
    .slide__dot {
        padding: 5px 5px;
        display: flex;
        position: absolute;
        bottom: 0px;
        transform: translateX(-50%);
        left: 50%;
    }
    
    .dot {
        justify-content: center;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
    }
    
    .active,
    .dot:hover {
      background: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
    
    .content__pages{
        text-align: center;
        margin-top: 3%;
        width: 45%;
        position: relative;
        transition: 2s;
        user-select: none;
        text-align: left;
    }
    
    .slide__content {
        position: relative;
        color: white;
        background: rgba(22, 5, 17, 0.7);
        width: 70%;
        height: 100%;
        line-height: 100%;
        left: 10%;
        font-family: "ZCOOL KuaiLe", "Kalam", "calibri";
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: none;
        overflow: hidden;
    }
    
    .fades {
      animation: 1.5s fades;
    }
    
    @keyframes fades {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
}

@media screen and (min-width: 415px) and (max-width:820px){
    body {
        margin: 0;
        padding: 0; 
        width: 840px;
    }
    
    header span{
        display: block;
        background: no-repeat center/100% url("../index_pic.JPG");
        height: auto;
        width: 74%;
    }
     
    #header_text_1{
        text-align: center;
        line-height: 100px;
        font-size: 40px;
        font-family: "ZCOOL KuaiLe", "calibri";
        color: white;
    }
     
    #header_text_2{
        text-align: center;
        line-height: 100px;
        font-size: 40px;
        font-family: "Kalam", "calibri";
        color: white;
    }
      
    .navigator_lan{
        margin-left: 65%;
        font-family: "calibri";
    }
    
    .navigator_lan ul {
        margin: 0;
        padding: 0;
    }
    
    .navigator_lan ul li{
        display: inline;
    }
    
    .navigator_lan ul li a{
        margin-top: 0;
        color: #51524A;
        font-size: 20px;
    }
    
    .navigator{
        text-align: left;
        background-color: rgb(160, 90, 160);
        line-height: 40px;
        font-family: "calibri";
        margin: 0;
    }
    
    .navigator ul{
        margin: 0 0 0 5%;
        padding: 0;
    }
    
    .navigator ul li{
        margin: 1%;
        display: inline;
    }
    
    .navigator ul li a{
        font-size: 22px;
        color: white;
    }
    
    .navigator ul li a:hover{
        font-size: 26px;
        color: gold;
    }
    
    .content{
        width: 100%;
        height: 100%;
    }
    
    .slide_pic{
        width: 100%;
        height: auto;
        object-fit: cover;
        vertical-align: middle;
        transition: 0.5s;
    }
    
    .slide_pic:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    .slideshow {
        margin-top: 3%;
        left: 1.5%;
        width: 70%;
        height: 100%;
        position: relative;
        transition: 2s;
        user-select: none;
        text-align: left;
    }
    
    .slide__item{
        text-align: center;
        display: none;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    
    .slide__pagenumber {
        padding: 5px;
        margin: 2%;
        left: 85%;
        border-radius: 70% 70% / 80% 70%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        position: absolute;
        z-index: 1;
    }
    
    .slide__arraw {
        border: 3px solid;
        padding: 20px;
        position: absolute;
        line-height: 20px;
        font-size: 30px;
        text-decoration: none;
        color:  rgb(148, 53, 148);
    }
    
    .slide__arraw:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: 0.6 ease;
    }
    .slide__arraw--prev {
        position: absolute;
        top: 115%;
        left: 38%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .slide__arraw--next {
        position: absolute;
        left: 52%;
        top: 115%;
        transform: translateY(-50%);
        z-index: 1;
    }
    
    .slide__dot {
        padding: 5px 5px;
        display: flex;
        position: absolute;
        bottom: 0px;
        transform: translateX(-50%);
        left: 50%;
    }
    
    .dot {
        justify-content: center;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
    }
    
    .active,
    .dot:hover {
      background: rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
    
    .content__pages{
        text-align: center;
        margin-top: 12%;
        left: 1.5%;
        width: 70%;
        position: relative;
        transition: 2s;
        user-select: none;
        text-align: left;
    }
    
    .slide__content {
        position: relative;
        color: white;
        background: rgba(22, 5, 17, 0.7);
        width: 100%;
        height: 250px;
        line-height: 20px;
        font-family: "ZCOOL KuaiLe", "Kalam", "calibri";
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: none;
        overflow: hidden;
    }
    
    .fades {
      animation: 1.5s fades;
    }
    
    @keyframes fades {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    } 
}