.pic_size{
    width: 200px;
    height: auto;
}

.pic_size_horizon{
    width: auto;
    height: 305px; 
}

.layout_middle{
    text-align: center;
    margin: 0px 200px 0px 200px;
    background: white;
}

.content{
    margin: 0px 200px 0px 200px;
    background: white;
}

.title{
    color: #51524A;
    margin-bottom: 25px;
}

.poetry{
    background-color: purple;
    font-size: 25px;
    text-align: center;
    color: white;
    line-height:40px;
    height: 40px;
}

body{
    background-color: #DBA7D8;
}
